Options -MultiViews
Options +FollowSymLinks
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) $1.php
RewriteRule post\/(\d+) ?id=$1
RewriteRule ^lta\/(.+)$ lta\-cms/interface/$1
